.item {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 1rem;
  background-color: #fff3bf;
  border-radius: 1rem;
}

.type,
.description,
.eggs-per-day,
.price {
  grid-row: 1 / -1;
}

.eggs-per-day,
.price {
  justify-self: center;
}

.amount {
  justify-self: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.plus {
  border: 1px solid transparent;
  background-color: transparent;
}

.plus:focus {
  outline: none;
}

.plus:focus svg {
  border: 2px solid red;
}

.plus svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 35px;
  border: 2px solid #f59f00;
  background-color: #ffe066;
  color: #f59f00;
  border-radius: 1rem;
  padding: 0.5rem;
  stroke-width: 0.3rem;
}

.plus svg:hover {
  cursor: pointer;
  transform: scale(110%);
}
