.chickens-columns-title {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #ffd43b;
  font-size: 1.8rem;
  font-weight: 700;
}

.type,
.description {
  justify-self: start;
}

.eggs,
.price {
  text-align: center;
}

.chickens {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70vw;
  padding: 2rem;
  background-color: #f59f00;
  border-radius: 2rem;
}

.chickens-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
