.chicken {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #fff3bf;
  font-size: 1.6rem;
}

.amount-form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text {
  justify-self: start;
}

.input {
  width: 8rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 2px solid transparent;
}

.input:focus {
  outline-style: none;
  border: 2px solid #f08c00;
}

.plus {
  border: 1px solid transparent;
  background-color: transparent;
}

.plus:focus {
  outline: none;
}

.plus:focus svg {
  border: 2px solid red;
}

.plus svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border: 2px solid #f59f00;
  background-color: #ffe066;
  color: #f59f00;
  border-radius: 1rem;
  padding: 0.5rem;
  stroke-width: 0.3rem;
}

.plus svg:hover {
  cursor: pointer;
  transform: scale(110%);
}
