.pickuper {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
}

.about-pickuper {
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.trash {
  border: 1px solid transparent;
  background-color: transparent;
}

.trash:focus svg {
  border: 2px solid red;
}

.trash svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #f59f00;
  background-color: #ffe066;
  color: #f59f00;
  border-radius: 1rem;
  padding: 0.5rem;
  stroke-width: 0.3rem;
  color: red;
  transition: all 0.2s;
}

.trash svg:hover {
  cursor: pointer;
  transform: scale(110%);
}
