.summary {
  display: grid;
  grid-template-columns: 21rem 1fr;
  grid-template-rows: repeat(3, auto) 13rem 25rem minmax(5rem, auto);
  gap: 1rem;
  padding: 2rem;
  background-color: #f59f00;
  border-radius: 2rem;
  font-size: 1.6rem;
}

.title {
  grid-column: 1 / -1;
}

.pickupers-team-row-title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: #ffec99;
}

.pickupers-row-title {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: #ffec99;
}

.pickupers-data-row-title {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 600;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffec99;
}

.data-container {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.final-data-row-title {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: #ffec99;
  transition: all 0.5s;
}

.final-data {
  margin: 0rem -1rem;
}

.calc-message {
  font-size: 2rem;
  font-weight: 700;
}

.calc-message {
  grid-column: 2 / -1;
  grid-row: 5 / 6;
  align-self: start;
  justify-self: center;
}

.pickuper {
  width: 20rem;
}

.pickupers {
  display: flex;
  gap: 2rem;
}

.pickupers-title {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  font-weight: 600;
}

.grey-title {
  color: grey;
}

.black-title {
  color: #000;
}

.btn {
  grid-column: 2 / -1;
  align-self: center;
  font-size: 2rem;
  background-color: #e8590c;
  color: #fff;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  background-color: #e67700;
  color: #000;
  transform: translateY(-0.2rem);
}

.btn:active {
  transform: translateY(0.1rem);
}

.btn:focus {
  background-color: #e8590c;
  outline: none;
}
