.pickupers-column-title {
  grid-column: 2 / -1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  font-weight: 600;
}

.pickuper-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffd43b;
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
}

.grey-title {
  color: grey;
}

.black-title {
  color: #000;
}

.pickupers {
  grid-column: 2 / -1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.pickuper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  background-color: #ffd43b;
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
}
