.pickupers-data {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.data-list {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.pickuper-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #ffd43b;
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
}
