.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #f59f00;
  border-radius: 2rem;
  font-size: 1.6rem;
  width: 70%;
}

.data-container {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.calc-message {
  font-size: 2rem;
  font-weight: 700;
}

.calc-message,
.calc-btn {
  align-self: center;
}

.pickuper {
  width: 20rem;
}

.pickupers {
  display: flex;
  gap: 2rem;
}

.pickupers-title {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  font-weight: 600;
}

.grey-title {
  color: grey;
}

.black-title {
  color: #000;
}
