.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--main-color);
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.2s;
}

.cart-btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color);
  transform: translateY(-0.3rem);
}

.cart-btn:active {
  transform: translateY(0.1rem);
}

.cart-btn:hover .amount {
  background-color: var(--main-color);
}

.icon {
  width: 35px;
  height: 35px;
}

.amount {
  padding: 0.8rem 1.5rem;
  background-color: var(--btn-hover-color);
  border-radius: 1rem;
}
