.title-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  gap: var(--gap-small);
  background-color: var(--header-color);
}

.title {
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-large);
}

.title-small {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-large);
}
