.title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: end;
  font-size: 1.8rem;
  padding: 0rem 1rem;
  font-weight: 600;
  text-align: center;
  height: 5rem;
}

.type {
  justify-self: start;
}

.eggs-per-day,
.amount {
}

.eggs-per-day {
}

.amount {
}

.price {
}

.rrp {
}
