.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tables {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary-table {
  margin-top: -1rem;
  border-spacing: 1rem;
  width: 100%;
}

.roi-info {
  font-size: 2rem;
  font-weight: 600;
  align-self: center;
  padding: 1rem 3rem;
  border-radius: 1rem;
  background-color: #d9480f;
  color: #fff;
}

th {
  background-color: #ffec99;
}

td {
  text-align: center;
  background-color: #fff3bf;
}

th,
td {
  padding: 1rem 2rem;
  border-radius: 1rem;
}
