.pickuper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ffd43b;
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
}

.pickupers-list {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  gap: 1rem;
}
