.pickuper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ffd43b;
  padding: 1rem;
  border-radius: 1rem;
}

.pickupers {
  display: flex;
  gap: 1rem;
}
