.pickupers-data {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.data-list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  width: 100%;
}

.data-list li {
  width: 20rem;
}
