.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  border-radius: var(--border-radius-std);
  background-color: var(--main-color);
  width: 70vw;
  padding: var(--padding-medium);
}

.header {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  justify-items: center;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-small);
  padding: var(--padding-small);
  border-radius: var(--border-radius-std);
  background-color: var(--second-color);
}

.type,
.total {
  justify-self: start;
}

.chickens-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  list-style-type: none;
  font-size: var(--font-size-std);
}

.chicken {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  justify-items: center;
  padding: var(--padding-small);
  border-radius: var(--border-radius-std);
  background-color: var(--third-color);
}

.totals {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  justify-items: center;
  gap: var(--gap-medium);
  padding: var(--padding-small);
  border-radius: var(--border-radius-std);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-small);
  background-color: var(--second-color);
}

.summary-text {
  font-size: var(--font-size-std);
  text-align: center;
  line-height: 1.5;
}

.bold {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-small);
}
