.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f59f00;
  border-radius: 1rem;
  gap: 1rem;
}

.header {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  justify-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: #ffec99;
}

.type,
.total {
  justify-self: start;
}

.chickens-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  font-size: 1.6rem;
}

.chicken {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff3bf;
}

.totals {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #ffec99;
}

.summary-text {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
}

.bold {
  font-size: 1.8rem;
  font-weight: 600;
}
